*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    max-width: 100%;
    overflow-x: hidden;
}

/* My Courses - left bar */
.my-courses{
    background-color: #1a6bd5;
    padding: 20px;
}

#course_display {
    background-color: #00b2ff;
}
.course-icon{
    filter: invert(100%);
}
.courses{
    background-color: #054ea4;
    text-decoration: underline;
    margin: 20px;
    padding: 20px 30px 200px 30px;
    border-radius: 20px;
}
.courses a{
    color: white;
}
.courses a:hover{
    color: #85b2ff;
}
.numbers{
    text-decoration: none !important;
    background-color: #00b2ff;
    /*display: inline-block;*/
    width: 20px;
    float: right;
    text-align: center;
    color: white;
    padding-right: 2px;
    padding-left: 2px;
}



#notif_unsub_tab {
    background-color: #ff6868;
}

#notif_ungraded_tab {
    background-color:rgb(159, 162, 167);
}

.weight_total{
    background-color: #054ea4;
    border-radius: 20px;
    padding: 20px 25px 190px 25px;
    color: white;
    position: relative;
    left: -20px;
}
.total{
    color: #85b2ff;
    position: relative;
    left: -20px;
}

/* Courses Body - right side */
.right-side{
    background-color: #00b2ff;
    padding-top: 30px;
    margin-left: -15px;
}
.tabs{
    display: flex;
    justify-content: center;
}
.btn{
    background-color: #054ea4;
    color: white;
    width: 200px;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;

}
#headings{
    color: #3971b3;
}
.red-alert{
    color: #ff6868;
}

#assignments{
    font-weight: 500;
}

#selected_course {
    background-color: white;
}

